asgiref==3.7.2
distlib==0.3.8
Django==4.2.7
django-crispy-forms==2.1
filelock==3.13.1
gunicorn==21.2.0
numpy==1.26.2
packaging==23.2
pillow==10.2.0
platformdirs==4.1.0
pygame==2.5.2
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
virtualenv==20.25.0
whitenoise==6.6.0
