{% extends 'main.html' %} {% block content %}
<main class="profile-page layout layout--2">
  <div class="container">
    <!-- Room Start -->
    <div class="room">
      <div class="room__top">
        <div class="room__topLeft">
          <a href="{% url 'home' %}">
            <img class="icon" src="images/icons/arrow-left.svg" alt="icon" />
          </a>
          <h3>Study Room</h3>
        </div>
        {% if room.host == request.user %}
        <div class="room__topRight">
          <a href="{% url 'update-room' room.id %}">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
          <a href="{% url 'delete-room' room.id %}">
            <img class="icon" src="images/icons/remove.svg" alt="icon" />
          </a>
        </div>
        {% endif %}
      </div>
      <div class="room__box scroll">
        <div class="room__header scroll">
          <div class="room__info">
            <h3>{{room.name}}</h3>
            <span>{{room.created|timesince}} ago</span>
          </div>
          <div class="room__hosted">
            <p>Hosted By</p>
            <a
              href="{% url 'user-profile' room.host.id %}"
              class="room__author"
            >
              <div class="avatar avatar--small">
                <img src="{{room.host.avatar.url}}" />
              </div>
              <span>@{{room.host.username}}</span>
            </a>
          </div>
          <div class="room__details">{{room.description}}</div>
          <span class="room__topics">{{room.topic}}</span>
        </div>

        <div class="room__conversation">
          <div class="threads scroll">
            {% for message in room_messages %}
            <div class="thread">
              <div class="thread__top">
                <div class="thread__author">
                  <a
                    href="{% url 'user-profile' message.user.id %}"
                    class="thread__authorInfo"
                  >
                    <div class="avatar avatar--small">
                      <img src="{{message.user.avatar.url}}" />
                    </div>
                    <span>@{{message.user.username}}</span>
                  </a>
                  <span class="thread__date"
                    >{{message.created|timesince}} ago</span
                  >
                </div>

                {% if request.user == message.user %}
                <a href="{% url 'delete-message' message.id %}">
                  <div class="thread__delete">
                   <i class="fa-solid fa-xmark"></i>
                  </div>
                </a>
                {% endif %}
              </div>
              <div class="thread__details">{{message.body}}</div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="room__message">
        <form action="" method="POST">
          {% csrf_token %}
          <input name="body" placeholder="Write your message here..." />
        </form>
      </div>
    </div>
    <!-- Room End -->

    <!--   Start -->
    <div class="participants">
      <h3 class="participants__top">
        Participants <span>({{participants.count}} Joined)</span>
      </h3>
      <div class="participants__list scroll">
        {% for user in participants %}
        <a href="{%  url 'user-profile' user.id %}" class="participant">
          <div class="avatar avatar--medium">
            <img src="{{user.avatar.url}}" />
          </div>
          <p>
            {{user.name}}
            <span>@{{user.username}}</span>
          </p>
        </a>
        {% endfor %}
      </div>
    </div>
    <!--  End -->
  </div>
</main>
<script src="script.js"></script>
{% endblock content %}
