{% extends 'main.html' %} {% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{% url 'home' %}">
            <i class="fa-solid fa-arrow-left"></i>
          </a>
          <h3>Browse Topics</h3>
        </div>
      </div>

      <div class="topics-page layout__body">
        <form action="" method="GET" class="header__search">
          <label>
            <i class="fa-solid fa-magnifying-glass"></i>

            <input name="q" placeholder="Search for topics" />
          </label>
        </form>

        <ul class="topics__list">
          <li>
            <a href="{% url 'topics' %}" class="active"
              >All <span>{{topics.count}}</span></a
            >
          </li>
          {% for topic in topics %}
          <li>
            <a href="{% url 'home' %}?q={{topic.name}}"
              >{{ topic.name }} <span>{{topic.room_set.all.count}}</span></a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
