{% extends 'main.html' %} {% block content %}
<main class="delete-item layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{{request.META.HTTP_REFERER}}">
            <i class="fa-solid fa-arrow-left"></i>
          </a>
          <h3>Back</h3>
        </div>
      </div>
      <div class="layout__body">
        <form class="form" method="POST" action="">
          {% csrf_token %}
          <div class="form__group">
            <p>Are you sure you want to delete "{{obj}}"?</p>
          </div>

          <div class="for__group">
            <input class="btn btn--main" type="submit" value="Confirm" />
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
