{% extends 'main.html' %} {% block content %}

<main>
    <div class="customize-theme">
        <div class="card">
            <h2>Customize Your View</h2>

            <!-- primary color -->
            <div class="color">
                <h4>Primary Color</h4>
                <div class="choose-color">
                    <span class="color-1 active"></span>
                    <span class="color-2"></span>
                    <span class="color-3"></span>
                    <span class="color-4"> </span>
                    <span class="color-5"></span>
                </div>
            </div>

            <!-- background color  -->

            <div class="background">
                <h4>Background Color</h4>
                <div class="choose-bg">
                    <div class="bg-1 active">
                        <span></span>
                        <h5 class="bg-1">Light</h5>
                    </div>

                    <div class="bg-2">
                        <span></span>
                        <h5 class="bg-2">Dim</h5>
                    </div>
                    <div class="bg-3">
                        <span></span>
                        <h5 class="bg-3">Dark</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock content %}